html {
  scroll-behavior: smooth;
}

.main {
  font-family: 'Merriweather', serif;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  text-align: center;
}

.subtitle .obs {
  font-style: italic;
  color: #586279;
  font-weight: normal;
}

.subtitle .obs .small1 {
  font-size: 0.8rem;
}

.subtitle .obs .small2 {
  font-size: 0.6rem;
}

.subtitle .obs .small3 {
  font-size: 0.4rem;
}

.main header,
.main footer,
.main section:nth-child(2n-1) {
  background: rgb(236, 238, 240);
}

.main section:nth-child(2n) {
  background: rgb(217, 222, 224);
}

.main footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1.6rem;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

.container {
  padding: 0px 5%;
}

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}

.intro h1 {
  text-align: center;
}

.contato {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  gap: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 14rem;
}

/* Media */

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .intro h1 {
    text-align: left;
  }

  .intro {
    justify-content: start;
    flex-direction: row;
    justify-content: space-between;
  }

  .subtitle {
    text-align: left;
  }

  .contato {
    justify-content: start;
    margin-left: 0.3rem;
  }
}